body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nanum Gothic", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100%;
}

#bodyContainer {
  padding-left: 5%;
  padding-right: 5%;
  height: calc(100% - 50px);
}

.miniTitle {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}
