.qnaReplyPiece {
    --piece-size : 10px;

    position: absolute;
    top: -20px;
    left: 160px;

    width: 0;
    height: 0;
    border-bottom: var(--piece-size) solid #eeeeee;
    border-top: var(--piece-size) solid transparent;
    border-left: var(--piece-size) solid transparent;
    border-right: var(--piece-size) solid transparent;
}